a:hover,
a:focus {
  text-decoration: none; }

img {
  max-width: 100%; }

.menu {
  background-color: #3b7eb5;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px; }
  .menu .menu-item-container {
    display: inline-block;
    float: none; }
  .menu .menu-item {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700; }
  .menu .menu-item:hover,
  .menu .menu-item:focus {
    background-color: #29679b;
    color: #79add7; }

.navbar-nav {
  width: 100%; }

.vertical-line {
  width: 2px;
  height: 16px;
  background-color: #79add7;
  display: inline-block;
  vertical-align: text-bottom; }

.banner {
  background-image: url(../img/header_background.jpg);
  padding: 50px 0 0;
  background-size: cover;
  font-family: "Roboto", sans-serif; }

.company-information {
  float: right; }

.block-information {
  display: inline-block; }

.img-logo {
  max-width: 50px; }

.logo {
  float: left;
  display: inline-block;
  vertical-align: middle; }

.company-name {
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  text-transform: uppercase; }

.company-services {
  font-size: 13px; }

.address,
.block-phone,
.logo-text {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle; }

.city {
  font-weight: 700;
  font-size: 20px; }

.street {
  font-size: 15px;
  margin-right: 50px; }

.block-phone {
  font-size: 26px; }

.phone {
  display: block;
  color: inherit; }

.publicity {
  background-image: url(../img/counters.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 50px 0; }

.headline {
  font-size: 50px;
  line-height: 50px;
  margin: 0; }

.text-red {
  color: red; }

.text-grey {
  color: #9fadb8; }

.text-bold {
  font-weight: 700; }

.text-italic {
  font-style: italic; }

.text-small {
  font-size: 12px; }

.master {
  font-size: 25px;
  padding-left: 100px;
  background-color: #ebf3f9;
  line-height: 60px;
  position: relative;
  margin: 50px 0;
  display: inline-block; }

.master:after {
  content: ' ';
  position: absolute;
  right: -60px;
  top: 0;
  border: 30px solid transparent;
  border-left: 30px solid #ebf3f9;
  border-top: 30px solid #ebf3f9; }

.action {
  font-size: 22px;
  line-height: 32px; }
  .action .text-red {
    font-size: 35px;
    vertical-align: text-bottom; }

.valuta:after {
  content: "\20BD"; }

.form-dispatch {
  padding: 25px 40px;
  background-color: #3e82b9;
  width: 100%;
  line-height: 50px; }

.form-input {
  width: 35% !important;
  border-radius: 0;
  float: left;
  padding-right: 15px;
  font-size: 16px;
  position: relative; }
  .form-input .text-input {
    width: 100%;
    border-radius: 0;
    height: 50px;
    padding-left: 45px; }

.pantagonal-button {
  width: 30%;
  display: inline-block; }

.red-button {
  background-color: #f8210b;
  border: 0;
  font-weight: 700;
  width: 100%;
  color: #ffffff;
  font-size: 21px;
  position: relative; }

.red-button:before {
  position: absolute;
  top: 0px;
  right: -11px;
  width: 0;
  height: 0;
  content: '';
  border-width: 25px 0 25px 11px;
  border-style: solid;
  border-color: #3e82b9;
  border-left-color: #f8210b; }

.price-count {
  background-image: url(../img/price_count_background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 50px 0;
  font-family: "Roboto", sans-serif; }

.title {
  font-size: 34px;
  margin: 0;
  text-align: center; }

.product {
  text-align: center;
  padding-top: 60px;
  margin-top: 50px;
  background-color: #ffffff;
  position: relative; }

.product-name {
  font-size: 32px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: "Oswald", sans-serif; }

.discription {
  font-size: 13px;
  padding: 20px 0; }

.price-container {
  background-color: #f6f9fd;
  border: 1px solid #e2e6eb;
  font-size: 24px;
  padding: 20px 0;
  line-height: 30px;
  width: 50%; }

.clear {
  clear: both; }

/*# sourceMappingURL=main.css.map */
