.icon
{
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.icon_jpg
{
    background-image: url(../img/spritesheet1.jpg);
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-bar
{
    background-color: #ffffff;
}

.icon-location
{
    width: 25px;
    height: 30px;
    background-position: -283px -145px;
}

.icon-phone
{
    width: 30px;
    height: 30px;
    background-position: -493px -145px;
}

icon-master
{
    width: 77px;
    height: 96px;
    background-position: -318px -145px;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.icon-user,
.icon-phone-form
{
    width: 60px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -19px;
    border-right: 1px solid #cccccc;
    vertical-align: middle;
    background-position: center;
}

.icon-user
{
    background-position: -119px -397px;
}

.icon-phone-form
{
    background-position: -483px -185px;
}

.icon-load
{
    width: 40px;
    height: 30px;
    background-position: 1px -145px;
}

.icon-del
{
    width: 40px;
    height: 30px;
    background-position: 0 -105px;
}

.logo-atlant
{
    width: 60px;
    height: 73px;
    background-position: -178px -397px;
    position: absolute;
    top: 0;
    left: 20px;
}

.logo-itelma
{
    width: 100px;
    height: 28px;
    background-position: -125px -516px;
    position: absolute;
    top: 4px;
    left: 20px;
}

.logo-valtec
{
    width: 108px;
    height: 17px;
    background-position: -235px -516px;
    position: absolute;
    top: 4px;
    left: 20px;
}

.icon-flag-russia,
.icon-flag-german,
.icon-flag-italia
{
    position: absolute;
    top: 0;
    right: 10px;
}

.icon-flag-russia
{
    width: 50px;
    height: 30px;
    background-position: -492px -105px;
}

.icon-flag-german
{
    width: 50px;
    height: 30px;
    background-position: -153px -105px;
}

.icon-flag-italia
{
    width: 48px;
    height: 30px;
    background-position: -434px -105px;
}

.icon-circleblock
{
    width: 34px;
    height: 30px;
    background-position: -123px -5px;
}

.icon-circleblock2
{
    width: 51px;
    height: 30px;
    background-position: -167px -10px;
}

.icon-service-master,
.icon-counters,
.icon-corner,
.icon-attachment,
.icon-filter,
.icon-corner-metal,
.icon-metal-plastic,
.icon-stamp,
.icon-insurance,
.icon-package-documents
{
    position: relative;
}

.icon-service-master
{
    width: 110px;
    height: 102px;
    background-position: -5px -516px;
}

.icon-counters
{
    width: 120px;
    height: 90px;
    background-position: -434px -5px;
}

.icon-corner
{
    width: 100px;
    height: 98px;
    background-position: -228px -5px;
}

.icon-attachment
{
    width: 108px;
    height: 89px;
    background-position: -5px -5px;
}

.icon-filter
{
    width: 98px;
    height: 99px;
    background-position: -45px -105px;
}

.icon-corner-metal
{
    width: 86px;
    height: 92px;
    background-position: -338px -5px;
}

.icon-metal-plastic
{
    width: 78px;
    height: 105px;
    background-position: -405px -145px;
}

.icon-stamp
{
    width: 113px;
    height: 85px;
    background-position: -5px -397px;
}

.icon-insurance
{
    width: 120px;
    height: 111px;
    background-position: -153px -145px;
}

.icon-package-documents
{
    width: 109px;
    height: 83px;
    background-position: -5px -260px;
}

.icon-verification-type1
{
    position: absolute;
    right: -5px;
    top: -7px;
}

.icon-verification-type1
{
    width: 141px;
    height: 127px;
    background-position: -479px -397px;
}

.icon-verification-type2
{
    width: 115px;
    height: 109px;
    background-position: -630px -397px;
    position: absolute;
    right: 0;
    top: -7px;
}


.icon-document
{
    width: 170px;
    height: 185px;
    background-position: -5px -186px;
}

.icon-expert
{
    width: 170px;
    height: 185px;
    background-position: -185px -189px;
}

.icon-money
{
    width: 193px;
    height: 185px;
    background-position: -5px -374px;
}

.icon-sertificates
{
    width: 198px;
    height: 185px;
    background-position: -545px 0;
}

.icon-calendar
{
    width: 170px;
    height: 185px;
    background-position: -5px 2px;
}

.icon-warranty
{
    width: 185px;
    height: 185px;
    background-position: -446px -363px;
}

.icon-discounts
{
    width: 196px;
    height: 185px;
    background-position: -185px 0;
}

.icon-partner
{
    width: 170px;
    height: 185px;
    background-position: -365px -180px;
}

.icon-spec1,
.icon-spec2,
.icon-spec3
{
    width: 186px;
    height: 186px;
}

.icon-spec1
{
    background-position: -283px -260px;
}

.icon-spec2
{
    background-position: -564px -5px;
}

.icon-spec3
{
    background-position: -543px -201px;
}
