.icon
{
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
}

.icon-bar
{
    background-color: #ffffff;
}

.icon-location
{
    background-image: url(../img/sprite/icon_location.png);
    width: 30px;
    height: 30px;
}

.icon-phone
{
    background-image: url(../img/sprite/icon_phone.png);
    width: 30px;
    height: 30px;
}

.icon-master
{
    background-image: url(../img/sprite/icon_master.png);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.icon-user,
.icon-phone-form
{
    width: 40px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    border-right: 1px solid #cccccc;
}

.icon-user
{
    background-image: url(../img/sprite/icon_user.png);
}

.icon-phone-form
{
    background-image: url(../img/sprite/icon_phone_form.png);
}

.logo-atlant
{
    background-image: url(../img/sprite/logo_atlant.png);
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 20px;
}

.logo-itelma
{
    background-image: url(../img/sprite/logo_itelma.png);
    width: 100px;
    height: 28px;
    position: absolute;
    top: 4px;
    left: 20px;
}

.logo-valtec
{
    background-image: url(../img/sprite/logo_valtec.png);
    width: 108px;
    height: 17px;
    position: absolute;
    top: 4px;
    left: 20px;
}

.icon-flag-russia,
.icon-flag-german,
.icon-flag-italia
{
    width: 50px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 10px;
}

.icon-flag-russia
{
    background-image: url(../img/sprite/icon_flag_russia.png);
}

.icon-flag-german
{
    background-image: url(../img/sprite/icon_flag_german.png);
}

.icon-flag-italia
{
    background-image: url(../img/sprite/icon_flag_italia.png);
}

.icon-circleblock
{
    width: 35px;
    height: 30px;
    background-image: url(../img/sprite/icon_circle_block.png);
}

.icon-circleblock2
{
    width: 50px;
    height: 30px;
    background-image: url(../img/sprite/icon_circle_block2.png);
}

.icon-service-master,
.icon-counters,
.icon-corner,
.icon-attachment,
.icon-filter,
.icon-corner-metal,
.icon-metal-plastic,
.icon-stamp,
.icon-insurance,
.icon-package-documents
{
    width: 140px;
    height: 140px;
    position: relative;
}

.icon-service-master
{
    background-image: url(../img/sprite/icon_work_master.png);
}

.icon-counters
{
    background-image: url(../img/sprite/icon_counters.png);
}

.icon-corner
{
    background-image: url(../img/sprite/icon_corner.png);
}

.icon-attachment
{
    background-image: url(../img/sprite/icon_attachment_set.png);
}

.icon-filter
{
    background-image: url(../img/sprite/icon_filter.png);
}

.icon-corner-metal
{
    background-image: url(../img/sprite/icon_corner_metal.png);
}

.icon-metal-plastic
{
    background-image: url(../img/sprite/icon_metal_plastic.png);
}

.icon-stamp
{
    background-image: url(../img/sprite/icon_stamp.png);
}

.icon-insurance
{
    background-image: url(../img/sprite/icon_insurance.png);
}

.icon-package-documents
{
    background-image: url(../img/sprite/icon_package_documents.png);
}

.icon-verification-type1
{
    background-image: url(../img/sprite/icon_verification_type1.png);
    position: absolute;
    width: 140px;
    height: 125px;
    right: -5px;
    top: -7px;
}

.icon-verification-type2
{
    background-image: url(../img/sprite/icon_verification_type2.png);
    position: absolute;
    width: 115px;
    height: 110px;
    right: 0;
    top: -7px;
}

.icon-document,
.icon-expert,
.icon-money,
.icon-sertificates,
.icon-calendar,
.icon-warranty,
.icon-discounts,
.icon-partner
{
    width: 180px;
    height: 180px;
}

.icon-document
{
    background-image: url(../img/sprite/icon_document.png);
}
.icon-expert
{
    background-image: url(../img/sprite/icon_expert.png);
}

.icon-money
{
    background-image: url(../img/sprite/icon_money.png);
}

.icon-sertificates
{
    background-image: url(../img/sprite/icon_sertificates.png);
    width: 200px;
}

.icon-calendar
{
    background-image: url(../img/sprite/icon_calendar.png);
}

.icon-warranty
{
    background-image: url(../img/sprite/icon_warranty.png);
}

.icon-discounts
{
    background-image: url(../img/sprite/icon_discounts.png);
}

.icon-partner
{
    background-image: url(../img/sprite/icon_partner.png);
}

.icon-spec1,
.icon-spec2,
.icon-spec3
{
    width: 190px;
    height: 190px;
}

.icon-spec1
{
    background-image: url(../img/sprite/icon_spec_1.png);
}

.icon-spec2
{
    background-image: url(../img/sprite/icon_spec_2.png);
}

.icon-spec3
{
    background-image: url(../img/sprite/icon_spec_3.png);
}
