@media (max-width: 1199px)
{
    .publicity
    {
        padding: 35px 0 0;
    }

    .master
    {
        background-color: transparent;
    }

    .master:after
    {
        border: none;
    }

    .service-list
    {
        padding-bottom: 20px;
    }

    .service-background
    {
        display: none;
    }

    .verification,
    .specialists
    {
        .section-title
        {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 991px)
{
    .menu
    {
        font-size: 12px;
    }

    .vertical-line
    {
        height: 12px;
    }

    .company-information,
    .logo
    {
        float: none;
        display: block;
    }

    .company-information
    {
        padding-left: 10px;
    }

    .block-information
    {
        padding-top: 20px;
    }

    .block-phone
    {
        font-size: 18px;
    }

    .banner
    {
        padding: 15px 0 0;
    }

    .publicity
    {
        background-image: none;
        padding: 15px 0;
    }

    .headline
    {
        font-size: 45px;
        padding-bottom: 15px;
    }

    .master
    {
        display: inline-block;
        padding-left: 0;
        margin: 15px 0;
        line-height: 45px;

        .icon-master
        {
            display: none;
        }
    }

    .action
    {
        display: inline-block;
        float: right;
    }

    .section
    {
        padding: 30px 0;
    }

    .product
    {
        margin-top: 15px;
    }

    .service-list
    {
        padding-bottom: 15px;
    }

    .service-type
    {
        width: 50%;
    }

    .service-type-container
    {
        padding: 15px 20px;
    }

    .service-title
    {
        min-height: 75px;
    }

    .application
    {
        margin-top: 0;
    }

    .advantages-feature
    {
        min-height: 50px;
    }

    .last
    {
        width: 50%;
        margin-top: 15px;
    }

    .specialists
    {
        .specialists-block
        {
            padding: 110px 20px 20px;
        }
    }

}

@media (max-width: 767px)
{
    .navbar-nav
    {
        margin: 0 -15px;
        width: auto;
    }

    .menu
    {
        .menu-item-container
        {
            display: block;
        }

        .menu-item
        {
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    .vertical-line
    {
        display: none;
    }

    .logo,
    .company-information,
    .publicity
    {
        text-align: center;
    }

    .city
    {
        text-align: left;
    }

    .headline
    {
        padding-bottom: 0;
    }

    .action
    {
        display: block;
        float: none;
    }

    .master
    {
        margin: 15px 0;
        line-height: 25px;
    }

    .form-input,
    .pantagonal-button
    {
        float: none;
        width: 100%!important;
        padding-right: 0;
    }

    .red-button:before
    {
        display: none;
    }

    .price-container
    {
        padding: 10px 0;
    }

    .application
    {
        text-align: center;
    }

    .advantages-block,
    .licence-block,
    .license-information
    {
        margin-top: 25px;
    }

    .advantages-feature
    {
        min-height: initial;
    }

    .copyright
    {
        font-size: 12px;
    }
}

@media (max-width: 479px)
{
    .banner,
    .publicity
    {
        padding: 5px 0 0;
    }
    .company-information
    {
        padding-left: 0;
    }

    .block-information
    {
        display: block;
        padding-top: 5px;

        .icon
        {
            background-position: left;
        }
    }

    .street
    {
        margin-right: 0;
    }

    .headline,
    .section-title
    {
        font-size: 27px;
        line-height: 35px;
    }

    .master,
    .action
    {
        font-size: 20px;
        line-height: 25px;
    }

    .form-dispatch
    {
        line-height: 35px;
    }

    .form-input
    {
        .text-input
        {
            height: 35px;
        }
    }

    .service-type
    {
        width: 100%;
    }

    .specialists
    {
        .specialists-block
        {
            text-align: center;
        }
    }

    .specialists-foto
    {
        left: 50%;
        margin-left: -95px;
    }

}