@import '../scss/_style_header';

*
{
    margin: 0;
    padding: 0;
}

body
{
    min-width: 320px;
}

.red-text
{
    color: red;
    font-weight: 700;
}

.valuta:after
{
    content: "\20BD";
    font-size: 27px;
}

.form-control
{
    font-size: 16px;
    height: 50px;
    border-radius: 0;
}

.input-group
{
    width: 100%;
    padding-right: 10px;
}

.form-group
{
    width: 35%;
    float: left;
}

form
{
    padding: 25px 40px;
    background-color: #3e82b9;
}

.input-group-addon
{
    background-color: #ffffff;
    color: #a5a5a5;
    border-radius: 0;
}

.pantagonal-button
{
    width: 30%;
    display: inline-block;
}

.red-button
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #f8210b;
    width: 100%;
    border: 0;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.red-button:before
{
    position: absolute;
    top: 0px;
    right: -11px;
    width: 0;
    height: 0;
    content: '';
    border-width: 25px 0 25px 11px;
    border-style: solid;
    border-color: #3e82b9;
    border-left-color: #f8210b;
}

.clear
{
    clear: both;
}

